HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Docker database data
/Postgres/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

#Yaml
src/main/resources/application.yaml
docker-compose.yml

# Credentials
cred.env

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


